APP_NAME=smartb-backend
ENV=dev
SECRET_KEY=change_me_to_long_random_string
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/smartb
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
